table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 80%;
  }

  .cell{
    width: 80px;
  }

  header{
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  h1{
    font-weight: 500;
    color: #384047;
    font-size: 35px;
    margin: 60px 0 40px;
    font: Helvetica Neue, Helvectica, Arial, serif;
    box-shadow: 4mm;
  }

  #alert{
    margin-top: 30px;
  }