<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; height: 80px;">
  <a class="navbar-brand logo" href="#">
    <div class="logo-image">
      <!-- ovde ide logo imi-ja -->
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/pocetnaStrana"><span class="sr-only">Pocetna strana</span></a>
      <a *ngIf="token==''" class="nav-item nav-link" href="#" routerLink="/login">Ulogujte se</a>
      <a class="nav-item nav-link" href="#" routerLink="/mojiOglasi">Moji oglasi</a>
      <a *ngIf="token==''" class="nav-item nav-link" href="#" routerLink="/registration" tabindex="-1" aria-disabled="true">Napravi nalog</a>
      <a *ngIf="token!=''" class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Moj nalog</a>
      <a *ngIf="token!=''" class="nav-item nav-link" href="#" (click)="logOut()" tabindex="-1" aria-disabled="true">Izloguj se</a>
    </div>
  </div>
</nav>
