<!-- <div id="opis">
  <h1>skuciSe-Online rezervacija smestaja u Srbiji bez troskova</h1>
</div> -->
 <!-- <div id="pocetnaBaner">
  <img src='assets/slike/tradewar3-23.jpg' id="slika">
 </div> -->
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src='assets/slike/tradewar3-23.jpg' alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left nine">
          <h1 id="pocetnaNaslov1">Skuci Se</h1>
          <p class="pocetnaNaslov2">Online rezervacija smestaja u Srbiji</p>
          <p class="pocetnaNaslov2">Najpovoljnije cene i najbolja usluga</p>
        </div>
        <div class="nine">
          <h1>Style Nine<span>Tagline Keywords</span></h1>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="ad-container">
  <div *ngFor="let ad of allAds" class="ad">
      <div class="header">
          <h1>{{ad.adCategory}}-</h1>
          <h1 class="price">{{ad.price}}€</h1>
          <h1 class="area">Povrsina: {{ad.area}}m2</h1>
      </div>
      <main>
        <hr>
        <p class="desc">{{ad.description}}<p>
        <hr>
      </main>
      <footer>
          <p class="city">
              {{ad.city}}
          </p>
          <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold;">{{ad.owner.name}}</h2>
          <button type="button" class="btn btn-info" style="margin-bottom: 10px; margin-left:770px;" (click)="showDetails(ad.id)">Prikazi detalje</button>
        </footer>
  </div>
</div>
<br/>

 
