

<section class="vh-100" style="background-color: #d0e4f7;">
    <div class="container py-5 h-80">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div *ngIf="valid == 1" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Uspesno ste promenili sifru!</strong>
            </div>
          <div *ngIf="valid == 0" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Greska!</strong> Pokusajte ponovo.
          </div>
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  
                    <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Promenite svoju lozinku</h2>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="username" name="oldPassword" [formControl]="oldPassword" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17">Stara lozinka</label>
                      <div style="color: red;" [hidden]="!oldPassword.hasError('required') || oldPassword.untouched">
                        Ovo polje je obavezno.
                      </div>
                    </div>
                    
                    <div class="form-outline mb-4">
                      <input type="password" id="newPassword" name="newPassword" [formControl]="newPassword" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27">Nova lozinka</label>
                      <div style="color: red;" [hidden]="!newPassword.hasError('required') || newPassword.untouched">
                        Ovo polje je obavezno.
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="newPasswordConfirmed" name="newPasswordConfirmed" [formControl]="newPasswordConfirmed" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example27">Ponovite novu lozinku</label>
                        <div style="color: red;" [hidden]="!newPasswordConfirmed.hasError('required') || newPasswordConfirmed.untouched">
                         Ovo polje je obavezno.
                        </div>
                      </div>
  
                    <div class="pt-1 mb-4">
                      <button [disabled]="!contactForm.valid" class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
  
                    <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Nemate nalog? <a routerLink="/registration"
                        style="color: #393f81;"> Registrujte se</a></p>
                    <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a> -->
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  